@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;900&display=swap');

/*
    font-family: 'Noto Sans KR', sans-serif;
*/

/* base */
body{ background-color: #f5f6f7; }
*{ padding: 0; margin: 0; font-family: 'Noto Sans KR','맑은고딕',sans-serif; color: #222; }
a{ text-decoration: none; }

/* section */
section{ width: 1180px; margin: 0 auto; padding: 100px 300px; box-sizing: border-box; text-align: center; }
section h1 a{ color: #00c850; font-weight: 900; font-size: 5.625rem; letter-spacing: -3px; }
section #join_form label, section #join_form span.red, section #join_form span.green{ display: block; padding-left: 50px; box-sizing: border-box; text-align: left; }
section #join_form label{ margin-top: 20px; font-weight: 500; }
section #join_form span.red{ display: none; color: red; font-size: 0.8125rem; }
section #join_form span.green{ display: none; color: #00c850; font-size: 0.8125rem; }
section #join_form input, #birth02{ width: 480px; height: 50px; margin: 5px 0; border: 1px solid #ccc; padding-left: 15px; box-sizing: border-box; color: #333; }
section #join_form input::placeholder{ color: #333; }
section #join_form #birth01, section #join_form #birth02, section #join_form #birth03{ width: 160px; }
#sendBtn{ display: block; width: 480px; height: 70px; text-align: center; margin: 50px auto; background-color: #00c850; border: none; color: #fff; font-size: 1.3rem; font-weight: 500; letter-spacing: 3px; cursor: pointer; }